.typing-container {
    border: solid black 4px;
    background-color: white;
    padding: 10em;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.scale {
    zoom: 2;
}

.submit-btn {
    align-items: center;
    background-color: #b3e6b8;
    background-position: 0 0;
    border: 1px solid #FEE0E0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #23c826;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
  }
  
  .submit-btn:active,
  .submit-btn:hover,
  .submit-btn:focus {
    outline: 0;
  }
  
  
  .submit-btn:active {
    background-color: #23c826;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }
  
  .submit-btn:hover {
    background-color: #FFE3E3;
    border-color: #2eb01a;
  }
  
  .submit-btn:active:hover,
  .submit-btn:focus:hover,
  .submit-btn:focus {
    background-color: #23c826;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }